@charset "utf-8";


/* 全体関係 */

*,*::before,*::after {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    background-color: rgb(193, 237, 255);
    font-family: "Sawarabi Mincho"; 
}


a {
    display: block;
    text-decoration: none;
    color: blue;
}


.tr-center {
    text-align: center;
}

.container {
    width: 100%;
    max-width: 960%;
    margin: 0 auto;
    padding: 2rem;
}

/* 配置関係 */

.pos-root {
    position: relative;
}

.pos {
    width: 30% ;
    height: auto;
    position: absolute;
}

.bg-pos {
top: px;
left: 0px;
}

/* サイズ関係 */

.width50 {
    min-width: 50px;
}
.width75 {
    min-width: 75px;
}

.width100 {
    min-width : 100px;
}
.width125 {
    min-width : 125px;
}

.width300 {
    max-width: 300px;
}

.width400 {
    max-width: 400px;
}

.width500 {
    max-width: 500px;
}

/* テキスト中央揃え */

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

/* テキストサイズ関係 */


.textl {
    font-size: 2rem;
}

.textsl{
    font-size: 1.3rem;
}

.textssl{
    font-size: 1.2rem;
}

.textm {
    font-size: 1.5rem;
}

.texts {
    font-size: 0.75rem;
}




/* マージンボトム関係 */

.mg-05rem {
    margin-bottom: 0.5rem;
}

.mg-1rem {
    margin-bottom: 1rem;
}

.mg-2rem {
    margin-bottom:2rem ;
}

.mg-3rem {
    margin-bottom: 3rem;
}

/* マージントップ関係 */

.mg-top-05rem {
    margin-top: 0.5rem;
}

/* マージンレフト関係 */

.margin-l-1rem {
    margin-left: 1rem;
}




/* パディングレフト関係 */

.pad-l-05rem {
    padding-left: 0.5rem;
}

.pad-l-1rem {
    padding-left: 1rem;
}

.pad-l-15rem {
    padding-left: 1.5rem;
}

.pad-l-2rem {
    padding-left: 2rem;
}



/* フレックス関係 */

.flex {
    display: flex;
    
}

.item1 {
    flex: auto;
}







/* 写真関係 */

.photo {
    max-width: 300px;
}

.photo2 {
    max-width: 250px;
}

.photo3 {
    max-width: 600px;
}

.photomax {
    max-width: 100%;
}

img {
    height: 95%;
    width: 100%;
}


/* 空白作成 */

.kuhak50 {
    line-height: 50px;
}



.kuhak100 {
    line-height: 100px;
}




/* テーブル関係 */



table,td,th {
    border-collapse: collapse;
    border: 1px solid black;
}

th,td {
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    line-height: 1.6rem;
}

.text-r {
    text-align: right;
}

.text-c {
    text-align: center;
}










/* ウィンドウサイズブレイクポイント設定 */


@media screen and (max-width: 560px) {
    /* スマホ用 */
    html {
        font-size: 0.5rem;
    }

    }
    
@media screen and (min-width: 960px) {
    /* PC用 */
    html {
        font-size: 1.2rem;
        
    }


}



